{{- /*gotype: github.com/go-sphere/protoc-gen-sphere-errors/generate/template.ErrorInfo*/ -}}
{{$newErrorFunc := .NewErrorFunc}}
{{$errorsJoinFunc := .ErrorsJoinFunc}}
func (e {{.Name}}) Error() string {
    switch e {
    {{- range .Errors }}
    case {{.Name}}_{{.Value}}:
        {{ if .HasReason }}return {{ goString .Reason }};{{ else }}return {{ goString (printf "%s_%s" .Name .Value) }};{{ end }}
    {{- end }}
    default:
        return {{ goString (printf "%s:UNKNOWN_ERROR" $.Name) }};
    }
}

func (e {{.Name}}) GetCode() int32 {
    switch e {
    {{- range .Errors }}
    case {{.Name}}_{{.Value}}:
        return {{.Code}};
    {{- end }}
    default:
        return 0;
    }
}

func (e {{.Name}}) GetStatus() int32 {
    switch e {
    {{- range .Errors }}
    case {{.Name}}_{{.Value}}:
        return {{.Status}};
    {{- end }}
    default:
        return 500;
    }
}

func (e {{.Name}}) GetMessage() string {
    switch e {
    {{- range .Errors }}
    case {{.Name}}_{{.Value}}:
        return {{ goString .Message }};
    {{- end }}
    default:
        return "";
    }
}

func (e {{.Name}}) Join(errs ...error) error {
    allErrs := append([]error{e}, errs...)
    msg := e.GetMessage()
    if msg == "" {
        msg = e.Error()
    }
    return {{$newErrorFunc}}(
        e.GetStatus(),
        e.GetCode(),
        msg,
        {{$errorsJoinFunc}}(allErrs...),
    )
}

func (e {{.Name}}) JoinWithMessage(msg string, errs ...error) error {
    allErrs := append([]error{e}, errs...)
    return {{$newErrorFunc}}(
        e.GetStatus(),
        e.GetCode(),
        msg,
        {{$errorsJoinFunc}}(allErrs...),
    )
}
